page-perfil {

    ion-card{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
      }

      h2{
          margin-left: 70px;
      }

}
